* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: pink;
  display: grid;
  place-items: center;
}

.button-1 {
  background-color: brown;
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.25rem;
  transition: background-color 1000ms 300ms ease-in-out, color 300ms ease-in-out;
}

.button-1:hover {
  background-color: blueviolet;
  color: black;
  transition: all 300ms ease-in-out;
}

.button-2 {
  background-color: red;
  padding: 0.5rem 1.5rem;
  border-radius: 100vw;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid white;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: green;
    padding: 0.75rem 2rem;
  }
}

.button-3 {
  background-color: blue;
  padding: 1rem;
  color: white;
  text-decoration: none;
  border: 1px dashed white;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: gray;
    transform: translateY(-1rem);
  }
}
